<launch>
<param name="my_robot_id" value="pr2" />
<!-- Loading parameters -->
<rosparam command="load" file="$(find head_manager)/param/reactive_param.yaml" />
<rosparam command="load" file="$(find head_manager)/param/object_offset.yaml" />
<!-- Launching reactive nodes -->
<node name="salient_stimuli_selection" pkg="head_manager" type="salient_stimuli_selection" output="screen" />
<node name="sensitive_reorientation" pkg="head_manager" type="sensitive_reorientation" output="screen" />
</launch>